body {
    background: linear-gradient(rgba(67, 85, 248, 0.793), rgba(67, 85, 248, 0.2));
    font-family: "Special Elite", sans-serif;
    text-align: justify;
}


















/* h2:hover {
    color: darkcyan;
}

h2[class=subtitle] {
    color: lightgreen;
}

.subtitle {
    color: yellowgreen;
}

#services {
    color: purple;
}

img[src$=".jpg"] {
    border: dashed;
    border-width: thick;
    border-color: lightseagreen;
}

li:nth-child(2n+0) {
    color: lightcoral;
}

#google-link:link {
    color: dark orangered;
}

#google-link:visited {
    color: green;
}

h2 + a {
    color: orange;
}

textarea ~ button {
    color: green;
}

ul > li {
    color: blueviolet;
}

ul li {
    color: red;
} */