h2:hover {
    color: darkcyan;
}

.subtitle {
    color: yellowgreen;
}

#services {
    color: purple;
}

li:nth-child(2n+0) {
    color: lightcoral;
}

#google-link:link {
    color: dark orangered;
}

#google-link:visited {
    color: green;
}